.signIn{
    margin: 100px 0;
}
.signInForm {
    border: 1px solid transparent; 

    border-radius: 7px;
    border: 1px solid transparent; 
    box-shadow: 0 0 7px 6px #00000030;
}

.btnsignIn{
    background-color: var(--main-Color);
    color: white;
}
.signUp{
    color: var(--primary-Color);
}