<section class="Rest">
    <div class="RestForm w-75 m-auto bg-white p-5">
    <p class="lead fw-bolder text-black-50 text-center my-5">Reset New Password</p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="mx-4 mt-2">
            <div>
                <label for="username">User Name</label>
                <input id="username" type="text" class="form-control my-3" formControlName="username">
                <div *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)"
                    class="text-danger">
                    <div *ngIf="f['username'].errors?.['required']">user name is required                      
                    </div>
                </div>
            </div>
            <div>
                <label for="newPassword">  New Password</label>
                <input id="newPassword" type="password" class="form-control my-3" formControlName="newPassword">
                <div *ngIf="f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched)"
                    class="text-danger">
                    <div *ngIf="f['newPassword'].errors?.['required']">  New password is required.</div>
                    <div *ngIf="f['newPassword'].errors?.['pattern']">Password must contain at least 8 characters
                    It contains uppercase and lowercase letters, numbers and special symbols.</div>
                </div>
            </div>
            <button class="btn btn-info" type="submit" [disabled]="resetPasswordForm.invalid"> Send</button>
        </form>
        <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
    </div>
</section>

 <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="creatToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto ms-3">Notifcations</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fs-3 fw-medium">
            {{toastMessage}}
        </div>
    </div>
</div> 